.split_left {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  width: 22.5vw;
  height: 92.58vh;
  max-height: 92.575vh;
  background-color: #2F3035;
}

.left_header{
  display: flex;
  margin-top: 1vh;
  margin-bottom: 0;
  height: 0.1vh;
  text-align: left;
  color: #FEFDFB;
  margin-bottom: -30px;
}

.left_header h3 {
  margin-top: 1.5vh;
  margin-bottom: 0vh;
  font-weight: 100;
  font-size: 2vw;
  word-wrap: normal;
}

.form21{
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  font-size: 1.75vw;
  font-weight: 100;
  text-align: left;
  color: #FEFDFB;
  width: 30vw;
  height: 5vh;
}

.p {
  margin-top: 5vh;
  margin-bottom: 1vh;
  font-size: 1.75vw;
}

.select21{
  width: 21.5vw;
  height: 7vh;
  font-size: 1.5vw;
  font-weight: 100;
  padding-left: 0.5vw;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #FEFDFB;
  border: 1.5px solid #9665DB;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2F3035;
}

.select21:focus{
  border-radius: 10px;
  border: transparent 1.5px solid;
  background: linear-gradient(#37393E, #37393E) padding-box, linear-gradient(to right, #767575, #9665DB) border-box;
  background-color: #37393E;
  cursor: pointer;
}

.prompt_button2 {
  margin-top: 12vh;
  display: flex;
  align-items: center;
  width: 30vw;
  height: 7vh;
}

.image_button1 {
  width: 21.5vw;
  height: 5vh;
  line-height: 4.3vh;
  overflow: hidden;
  padding: 0 1vh;
  font-size: 1.65vw;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 0vw;
  margin-bottom: 0vh;
  color: #FEFDFB;
  border-radius: 20px;
  border: 1.5px solid #9665DB;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  cursor: pointer;

  background: linear-gradient(to right, #2F3035, #9665DB);
  background-size: cover;
  display: none;
}
.image_button1:hover {
  background: linear-gradient(to right, #37383E, #9F73DE);
  border: 1.5px solid #9F73DE;
  color: #F4EFFB;
}

.form22{
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  margin-bottom: -4vh;
  font-size: 1.75vw;
  font-weight: 100;
  text-align: left;
  color: #FEFDFB;
  width: 25vw;
  height: 0vh;
}

.text22{
  width: 21.2vw;
  height: 5vh;
  padding-left: 0.3vw;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-right: 0vw;
  font-size: 1.5vw;
  color: #FEFDFB;
  text-indent: 0.5vw;
  background-color: #2F3035;
  border: 1.5px solid #9665DB;
  border-radius: 10px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text22::placeholder {
  color: transparent;
}

.text22:placeholder-shown ~ .form__label {
  display: flex;
  font-size: 1.75vw;
  margin-left: 0.7vw;
  margin-top: 0.7vh;
  cursor: text;
  color: #AAABBB;
}

.form__label {
  position: absolute;
  margin-top: -5vh;
  left: 1vw;
  display: block;
  transition: 0.2s;
  font-size: 1.75vw;
  color: #FEFDFB;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text22:focus {
  ~.form__label {
    display: flex;
    margin-left: 0vw;
    margin-top: -4vh;
    display: block;
    transition: 0.2s;
    font-size: 1.25vw;
    color: #9665DB;
    font-weight:100;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  border-radius: 10px;
  border: transparent 1.5px solid;
  background: linear-gradient(#37393E, #37393E) padding-box, linear-gradient(to right, #767575, #9665DB) border-box;
}

.text22{
  .name:required, .name:invalid { box-shadow:none; }
}

.image_button2 {
  width: 21.5vw;
  height: 5vh;
  line-height: 4.3vh;
  overflow: hidden;
  padding: 0 1vh;
  font-size: 1.65vw;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 0vw;
  margin-bottom: 0vh;
  color: #FEFDFB;
  border-radius: 20px;
  border: 1.5px solid #9665DB;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  cursor: pointer;

  background: linear-gradient(to right, #2F3035, #9665DB);
  background-size: cover;
}
.image_button2:hover {
  background: linear-gradient(to right, #37383E, #9F73DE);
  border: 1.5px solid #9F73DE;
  color: #F4EFFB;
}

.form23 {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: -20vh;
  font-size: 1.75vw;
  font-weight: 100;
  text-align: left;
  color: #FEFDFB;
  width: 25vw;
  height: 25vh;
}

.p2 {
  margin-top: 1vh;
  margin-bottom: 7vh;
  font-size: 1.75vw;
}

.input_text {
  margin-top: -5vh;
  padding-left: 0.5vw;
  width: 20.5vw;
  height: 50vh;
  font-size: 1vw;
  color: #FEFDFB;
  white-space: normal;
  word-wrap: break-word;
  border: 1.5px solid #9665DB;
  background-color: #2F3035;
  border-radius: 10px;
  cursor: auto;
  white-space: pre;
}

.prompt_button{
  margin-top: 21.5vh;
  margin-left: 0vw;
  margin-bottom: -12vh;
  display: flex;
  align-items: center;
  width: 30vw;
  height: 7vh;
}

.image_button {
  width: 21.5vw;
  height: 5vh;
  line-height: 4.3vh;
  overflow: hidden;
  padding: 0 1vh;
  font-size: 1.65vw;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 0vw;
  margin-bottom: 0vh;
  color: #FEFDFB;
  border-radius: 20px;
  border: 1.5px solid #9665DB;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  cursor: pointer;

  background: linear-gradient(to right, #2F3035, #27282C);
  background-size: cover;
}
.image_button:hover {
  background: linear-gradient(to right, #8C57D8, #27282C);
  border: 1.5px solid #8C57D8;
  color: #F4EFFB;
}